<!--<p id="notice"><%= notice %></p>-->

    <% @tweets.each do |tweet| %>
        <div class = "note-list">
          <table>

        <tr><td id="content"><%= tweet.content %></td></tr>

          </table>
        <ul>
          <!--<li><%= link_to 'Show', tweet, class:'action-button shadow animate red' %></li>-->
          <!--<li><%= link_to 'Edit', edit_tweet_path(tweet), class:'action-button shadow animate red' %></li>-->
          <li><%= link_to 'Destroy', tweet,class:'action-button shadow animate red', method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>


        </div>

    <% end %>

<br>

<%= link_to 'New Tweet', new_tweet_path , class:'action-button shadow animate red'  %>
