
<%= render 'layouts/mainmenu' %>

<div class="show">

  <div class="container">
    <header>
      <div class="bio">
        <img src=<%= @user.cover_picture%> alt="background" class="bg">
        <div class="desc">
          <h3>@<%= link_to @user.name, edit_user_path, class: "a_edit_user" %></h3>
          <p><%= @user.bio%></p>
        </div>
      </div>

      <div class="avatarcontainer">
        <img src=<%= @user.img_url%> alt="avatar" class="avataruser">

        <div class="hoveruser">
          <div class="icon-twitter"></div>
        </div>
      </div>


    </header>

    <div class="content">
      <div class="data">
        <ul class="datauser">
          <li>
            <%= @user.tweets.count %>
            <span>Tweets</span>
          </li>
          <li>
            <%= @user.followers.count %>
            <span>Followers</span>
          </li>
          <li>
            <%= @user.followings.count %>
            <span>Following</span>
          </li>
        </ul>
      </div>
    </div>

    <%= render 'tweets/form', 'tweet': @new_tweet %>
  </div>





  <!--<table >
    <tr><td><img src=<%= @user.img_url %> alt="Smileyface"></td></tr>
    <tr><td id="name"><%= link_to @user.name, edit_user_path %></td></tr>
    <tr><td id="bio"><%= @user.bio %></td></tr>

  </table>-->



<!--  <div class="tweets">
<% @tweets.each do |tweet| %>
    <div class="tweet">
      <img src="<%= tweet.user.img_url %>" alt="" >
      <p id="tweet-author"> <%= link_to @user.name, edit_user_path %> </p>
      <p id="date-tweet"> <%= tweet.created_at.strftime("%d/%m/%Y") %></p>
      <p> <%= tweet.content %></p>


    </div>
<% end %>
  </div>-->



      <ul class="timeline">
      <% @tweets.each do |tweet| %>


    <li>
      <div class="avatar">
        <img src=<%= tweet.user.img_url %> >
      </div>
      <div class="bubble-container">
        <div class="bubble">

          <h3>@<%= link_to tweet.user.name, "/users/"+tweet.user.id.to_s, class: "usertweetpath" %></h3><br/>
          <%= tweet.content %>

        </div>

        <div class="arrow"></div>
      </div>
    </li>

  <% end %>
      </ul>

</div>

</div>