<div class="show">

<div class = "note-list">

  <table >
    <tr><td><img src=<%= @user.img_url %> alt="Smileyface"></td></tr>
    <tr><td id="name"><%= link_to @user.name, edit_user_path %></td></tr>
    <tr><td id="bio"><%= @user.bio %></td></tr>

  </table>

  <%= render 'tweets/form', 'tweet': @new_tweet %>

</div>

<% @tweets.each do |tweet| %>
    <div class="tweet">
      <img src="<%= tweet.user.img_url %>" alt="" class="img-user-tweet">
      <p> <%= tweet.content %></p>

    </div>
<% end %>





</div>