<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @user.img_url %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Tweets :</strong>
</p>

<% @tweets.each do |tweet| %>
    <div>
      <p> <%= tweet.content %></p>
    </div>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<%= render 'tweets/form', 'tweet': @new_tweet %>